.wpfolio-ppwp-anylc-clearfix:before, .wpfolio-ppwp-anylc-clearfix:after{content: ""; display: table;}
.wpfolio-ppwp-anylc-clearfix::after{clear: both;}
.wpfolio-ppwp-anylc-optin-wrap *{box-sizing:border-box; outline:0;}
.wpfolio-ppwp-anylc-hide{display:none;}
.wpfolio-ppwp-anylc-optin-wrap .button{border-radius:0;}
.wpfolio-ppwp-anylc-optin-wrap{max-width: 700px; width: 100%; border:1px solid #ddd; background-color: #fff;}
.wpfolio-ppwp-anylc-optin-icon-wrap{font-size:0; padding: 15px;}
.wpfolio-ppwp-anylc-optin-icon{width: 20%; display:inline-block; vertical-align:middle; border:1px solid #ddd; padding:2px; max-height:84px; height:100%; text-align:center;}
.wpfolio-ppwp-anylc-optin-plus{width: 20%; display:inline-block; vertical-align:middle; text-align:center;}
.wpfolio-ppwp-anylc-optin-icon img{max-height: 78px; max-width:100%; width: 100%; display: block;}
.wpfolio-ppwp-anylc-optin-plus .dashicons-plus{color:#999; height:auto; width:auto; font-size:26px;}
.wpfolio-ppwp-anylc-wp-badge i{height:100%; width:100%; line-height:normal; font-size:60px; line-height: 78px; background-color:#0073aa; color: #fff;}
.wpfolio-ppwp-anylc-optin-cnt{padding: 0 15px 15px 15px; line-height: 24px; font-size: 15px;}
.wpfolio-ppwp-anylc-optin-cnt p{line-height: 24px; font-size: 15px;}
.wpfolio-ppwp-anylc-subs-wrap, .wpfolio-ppwp-anylc-promotion-wrap{margin:10px 0; font-size:14px; font-weight:600;}
.wpfolio-ppwp-anylc-optin-action{background-color:#C0C7CA; padding: 15px 15px;}
.wpfolio-ppwp-anylc-optin-action .button{height: auto !important; padding: 2px 12px !important; font-size: 15px; font-weight: 600;}
.wpfolio-ppwp-anylc-optin-permission{padding: 10px 15px; text-align:center; font-size: 12px;}
.wpfolio-ppwp-anylc-terms{padding: 5px 15px; text-align:center; background-color:#e5e5e5; font-size: 11px; color: #999;}
.wpfolio-ppwp-anylc-terms a{color: #999;}
.wpfolio-ppwp-anylc-optin-permission a, .wpfolio-ppwp-anylc-terms a{text-decoration:none; box-shadow:none;}
.wpfolio-ppwp-anylc-optin-permission a{display:block;}
.wpfolio-ppwp-anylc-permission{margin: 15px 0 15px 0; text-align: left;}
.wpfolio-ppwp-anylc-permission i{height: auto; width: auto; font-size: 40px;}
.wpfolio-ppwp-anylc-permission > div{display: inline-block; margin: 0 0 0 10px; line-height: 21px;}
.wpfolio-ppwp-anylc-permission .wpfolio-ppwp-anylc-permission-name{display: block; font-weight: 600; font-size: 14px;}
.wpfolio-ppwp-anylc-permission .wpfolio-ppwp-anylc-permission-info{display: block;}
.button.wpfolio-ppwp-anylc-btn{height: auto !important; padding: 2px 12px !important; font-size:15px; font-weight:600; height:auto !important; padding: 2px 12px !important; font-size:15px; font-weight:600; border-radius:0;}
.wpfolio-ppwp-anylc-notice{position: relative;}
.wpfolio-ppwp-anylc-notice .notice-dismiss{text-decoration:none;}
.wpfolio-ppwp-anylc-center{text-align:center;}

/* Popup CSS */
.wpfolio-ppwp-anylc-popup-overlay{display:none; background: #0b0b0b none repeat scroll 0 0; height: 100%; left: 0; opacity: 0.8; overflow: hidden; position: fixed; top: 0; width: 100%; z-index: 9995;}
.wpfolio-ppwp-anylc-popup-wrp{height: 100%; left: 0; outline: 0 none !important; position: fixed; top: 0; width: 100%; z-index: 9996; overflow:auto;}
.wpfolio-ppwp-anylc-popup-block{background: #fff none repeat scroll 0 0; margin: 50px auto; max-width: 650px; position: relative; text-align: left; top:5%; min-height:65px;}
.wpfolio-ppwp-anylc-popup-body .wpfolio-ppwp-anylc-popup-heading{font-size: 21px; font-weight: 600;}
.wpfolio-ppwp-anylc-popup-header{padding: 20px; font-size: 18px; font-weight: 600; color: #666; border-bottom: 1px solid #e7e7e7;}
.wpfolio-ppwp-anylc-popup-body{padding:20px;}
.wpfolio-ppwp-anylc-popup-body p{margin:0 0 1em 0; font-size: 15px;}
.wpfolio-ppwp-anylc-popup-body p:last-child{margin:0;}
.wpfolio-ppwp-anylc-popup-footer{padding:20px; text-align:right;}
.wpfolio-ppwp-anylc-no-overflow{overflow:hidden;}
.wpfolio-ppwp-anylc-popup-title{background-color: #0073aa; color: #fff; font-size: 20px; padding: 10px 20px; line-height:normal;}

/* Offers Page */
.wpfolio-ppwp-anylc-offer-wrap{border:1px solid #ccc; padding:15px; max-width: 800px; background-color:#fff; margin:0 0 30px 0;}
.wpfolio-ppwp-anylc-offer-wrap img{max-height:100%; max-width:100%; height:auto; width:auto;}
.wpfolio-ppwp-anylc-offer-wrap .wpfolio-ppwp-anylc-offer-title{font-size: 22px; line-height: normal; font-weight: 600; padding: 0 0 10px 0; border-bottom: 1px solid #ddd; margin: 0 0 10px 0;}
.wpfolio-ppwp-anylc-offer-wrap .wpfolio-ppwp-anylc-offer-body{margin-bottom: 10px;}
.wpfolio-ppwp-anylc-offer-wrap .wpfolio-ppwp-anylc-offer-desc p{font-size: 16px;}
.wpfolio-ppwp-anylc-offer-wrap a:focus, .wpfolio-ppwp-anylc-offer-wrap a:active, .wpfolio-ppwp-anylc-offer-wrap a:hover{box-shadow:none; outline:none;}
@media only screen and (max-width:320px) {
	.wpfolio-ppwp-anylc-optin-icon{max-height: 56px;}
	.wpfolio-ppwp-anylc-wp-badge i{font-size: 35px; line-height: 50px;}
}